:root {
  /* add properties */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100dvh;
  line-height: 1.5;
}
